version: '3.9'

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql
      - ~/goinfre/subject:
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_USER=cprojean
      - POSTGRES_DB=piscineds

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    ports:
      - 5050:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=cprojean@42.fr
      - PGADMIN_DEFAULT_PASSWORD=mysecretpassword

networks: bridge

volumes:
  postgres_data:
    name: postgres_data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ~/goinfre/data
