version: '3.9'

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql
      - ~/goinfre/subject:/mnt/subject
      - ../ex03/db.sql:/mnt/db.sql
      - ../ex02/table.sql:/mnt/table.sql
      - ../ex03/automatic_table.sh:/mnt/automatic_table.sh
      - ../ex04/items_table.sh:/mnt/items_table.sh
      - ../ex04/items_table.sql:/mnt/items_table.sql
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_USER=cprojean
      - POSTGRES_DB=piscineds

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    ports:
      - 5050:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=cprojean@42.fr
      - PGADMIN_DEFAULT_PASSWORD=mysecretpassword

networks:
  default:
    driver: bridge

volumes:
  postgres_data:
    name: postgres_data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ~/goinfre/data
